.vh-98 {
  height: 98vh;
}

.bg-banner {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.9) 100%),
                    url('../img/bg.jpg');
}

.playfair {
  font-family: 'Playfair Display', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
}

.open-sans {
  font-family: 'Open sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.bg-transparent-30 {
  background-color: rgba(0,0,0, 0.3);
}

.visibility {
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.ta-1 {
  transition: all 300ms ease-in-out;
}

.h-b--black-70 {
  &:active,
  &:hover,
  &:focus {
    border-color:  $black-70;
  }
}
